body {
    margin: 0%;
}
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}
.links {
    flex-direction: row;
    font-size: 18px;
    color: #e5e7eb;
}
li {
    display: inline-block;
    margin: 10px;
    margin-top: 0%;
}
.bottom-header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    justify-content: center;
}
.hero {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
    width: 300px;
    margin-right: 110px;
    margin-top: 40px;
}
.subtext {
    font-size: 18px;
    color: #e5e7eb;
    width: 400px;
}
.hero-text {
    margin-right: 120px;

}
.button {
    margin-bottom: 30px;
    border-radius: 12px;
    background-color: #3882f6;
    color: white;
}
.image {
    width: 500px;
    height: 250px;
}
.section-two {
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    margin-top: 60px;
}
.rounded-blue {
    border: 5px solid #3882f6;
    border-radius: 20px;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
}
.image-subtext {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    padding: 15px;
    margin-top: 30px;
}
.image-subtext-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.quote-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    margin-top: 120px;
    margin-bottom: 120px;
}
.quote i{
    font-size: 36px;
    font-weight: lighter;
}
.quote strong{
    font-size: 36px;
    font-weight: bolder;
    align-self: flex-end;
}
.action-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue-action {
    display: flex;
    background-color: #3882f6;
    color: white;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
    width: 1000px;
    border-radius: 10px;
}
.action-text {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.action-button {
    border: 2px solid white;
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    padding-right: 20px;
    padding-left: 20px;
}



